@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'NanumSquareNeo-Variable';
}

.all-marjin {
	padding-right: 10%;
	padding-left: 10%;
}

.fb-title {
	margin-left: 40px;
	margin-top: 0px;
	list-style: none;
	color: green;
	font-size: 240%;
	font-weight: 1000;
	text-align: left;
}

.fb-all {
	border-bottom: 2px solid #00A652;
	margin-bottom: 20px;
}

.fb-body {
	height: auto;
	min-height: 240px;
	overflow: auto;
	padding-top: 20px;
	padding-inline: 20px;
	padding-bottom: 20px;
}

.button {
	text-align: center;
	margin-bottom: 20px;
	width: 100px;
	height: 30px;
	color: #00A652;
	border-color: #00A652;
	background: white;
}

.fb-tail {
	text-align: right;
}

.fc-table {
	margin-bottom: 50px;
}

.btn {
	display: block;
	width: 80px;
	padding: 5px;
}

.form-control {
	color: green;
	border: 2px solid green;
}

.form-control:focus, .form-control:active {
	box-shadow: none;
	border-color: green;
}