@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'NanumSquareNeo-Variable';
}

.all-marjin {
	padding-right: 10%;
	padding-left: 10%;
}

.fb-title {
	margin-left: 40px;
	margin-top: 0px;
	list-style: none;
	color: green;
	font-size: 240%;
	font-weight: 1000;
	text-align: left;
}

.thead {
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-color: #00A652;
}

.btn {
	display: block;
	width: 80px;
	padding: 5px;
}

.form-select {
	color: green;
	border: 2px solid green;
}

.form-control {
	color: green;
	border: 2px solid green;
}

.form-control:focus, .form-control:active {
	box-shadow: none;
	border-color: green;
}

.table {
	text-align: center;
}