@charset "UTF-8";

.body_container {
	margin-right: 10%;
	margin-left: 10%;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'NanumSquareNeo-Variable';
}

.empty_div {
	width: 100%;
	height: 20px;
	margin: 0 auto;
}

.btn {
	display: block;
	width: 80px;
	padding: 5px;
}

.form-control {
	color: green;
	border: 2px solid green;
}

.form-control:focus, .form-control:active {
	box-shadow: none;
	border-color: green;
}

.basket_div{
	display:flex;
	flex-direction:column;
	position:fixed;
	top:260px;
	right:20px;
	height:200px;
}

.basket{
	width:80px;
	height:55px;
}
.basket_span{
	margin-top:0px;
	text-align:center;
}

.text {
	width: 300px;
}

.middle_categories {
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;
	height: 55px;
	display: flex;
}

.category-container {
	width: 100%;
	max-width: 100%;
	margin:auto;
	padding: 20px;
}

.category-row {
	margin: 0px -1%;
	padding: 1px;
	height: 80%;
}



.category-item img {
	width:100px;
	height: 100px;
	align-items:center;
}

.hidden {
	display: none;
}

.btn-next {
	display: block;
	margin: 0 auto;
}

.ingredient_search {
	width: 100%;
	height: 35x;
	display: flex;
	justify-content: flex-end;
}

.ingredient_search_bt {
	width: 300px;
	height: 25x;
	display: flex;
	justify-content: flex-end;
}

#igname {
	display: flex;
/* 	justify-content: center; */
/* 	 align-items : center; */
	flex-wrap: wrap; /* 이미지가 많아지면 자동으로 두 줄로 나뉘도록 설정 */
	height: 550px;
	overflow: scroll;
	margin-top: 30px;
	width: 1300px;

}

#spanid {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 240px;
	height:120px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 20px;
}

.imgingredient {
	border-radius: 50%;
	display: block;
	margin: 5px;
	width: 160px;
	height: 100%;
}

::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
  height: 5px; /* 스크롤바 높이 */
  background-color: transparent; /* 배경색 */
}

::-webkit-scrollbar-thumb {
/*   background-color: green; 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 모서리 둥글게 */
}

.slick-prev:before, .slick-next:before {
	color: #444444;
}


.addingredient {
	width: 100%;
	height: 38px;
}

.addingredient_bt {
	width: 100%;
	height: 45x;
	display: flex;
	justify-content: flex-end;
}

#textingredient {
	width: 30%;
	height: 35px;
}

.addingredient_btn {
	width: 50px;
	height: 35px;
}


