@charset "UTF-8";

.bgc{
    background-color: #00A652    
}  


a{
    text-decoration: none;
    color: black;
}
.userpick{
    width: 270px;
    height: 270px;
    border: 1px solid black;
}

.logo{
    width: 227px;
}

.text_margine{
    padding: 5px;
}

.dropdown>h5>a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #fff;
}
.dropdown>h5>a:hover{
    color: yellow;
}

.text_flex{
    display: flex;
    justify-content: end;
}
h5>.text_margine>a{
    font-size: 20px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.slick-next.slick-arrow{
    position: relative;
    top :50%;
    height: 30px;
    border-radius: 50px;
}
.slick-prev.slick-arrow{
    position: relative;
    top: 50%;
    height: 30px;
    border-radius: 50px;

}
.row {
    margin-top: 80px;
}

.slick-prev:before, .slick-next:before {
    color: #444444;
  }

.img-circle{
	width: 30px;
	height: p30px
}