@charset "UTF-8";

.bgc {
	background-color: #00A652
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OAGothic-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'NanumSquareNeo-Variable';
}

a {
	text-decoration: none;
	color: black;
}
.navbar{
	padding : 0;
} 

.userpick {
	width: 474px;
	height: 267px;
}

.userpick>a>img {
	width: 474px;
	height: 267px;
	padding: 15px;
}

.logo {
	width: 227px;
}

.text_margine {
	padding: 5px;
}

.dropdown>a {
	font-family: ONE-Mobile-Title;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

.text_flex {
	display: flex;
	justify-content: end;
	align-items: center;
}

.text_margine {
	padding-top: 20px;
}

h5>.text_margine>a {
	font-family: 'OAGothic-ExtraBold';
	font-size: 20px;
	color: #fff;
	padding-left: 10px;
	font-weight: 500;
}

.slick-next.slick-arrow {
	position: relative;
	top: 50%;
	height: 30px;
	border-radius: 50px;
}

.slick-prev.slick-arrow {
	position: relative;
	top: 50%;
	height: 30px;
	border-radius: 50px;
}

.row {
	margin-top: 80px;
}

.slick-prev:before, .slick-next:before {
	color: #444444;
}

.userimg {
	width: 50px;
	height: 50px;
	margin: 2px;
}


.dday_simpleview {
	margin: 3px;
	text-align: center;
	display: grid;
	width: 40px;
	height: 40px;
	align-items: center;
}

.red {
	font-size:20px;
	color: crimson;
	background-color: #FFF;
	font-family: 'OAGothic-ExtraBold';
	
}

.yellow {
	font-size:20px;
	color : orange;
	background-color: #fff;
	font-family: 'OAGothic-ExtraBold';
}

.green {
	font-size:20px;
	color:#00A652;
	background-color: #f6f3EE;
	font-family: 'OAGothic-ExtraBold';
}

.myAcc {
	background: none;
	border: none;
	box-shadow: none !important;
	
}

.btn-secondary {
	--bs-btn-hover-bg: none;
	--bs-btn-active-bg: none;
	--bs-btn-active-border-color: none;
}

.logout {
	position: relative;
	top: 5px;
}

.key {
	position: relative;
	top: 5px;
}

